* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    height: 100vh;
}

.content {
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: 5rem 30rem;
    background-color: red;
    width: 70rem;
    height: 35rem;

}

header {
    grid-column: 1 / 3;
    background-color: grey;
}

.side-bar {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: antiquewhite;
}

.main-container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}